In [1]:
import json
import requests
import pandas as pd
import numpy as np
import glob

%load_ext autoreload
%autoreload 2

import sys
sys.path.append("../code/")

In [2]:
scraped_files = glob.glob("../data/scraped_data/*.pkl")

In [3]:
len(scraped_files)

10592

In [5]:
from prep_extracts import extract_master_data, extract_status

# Master data

In [ ]:
dict_master_data = extract_master_data(pd.read_pickle(scraped_files[-1]),
                                       drop_col_dicts=False,
                                       drop_col_status=False)

In [14]:
df_cs = dict_master_data["charging_stations"]

In [15]:
df_cp = dict_master_data["charging_points"]

In [16]:
df_conn = dict_master_data["connectors"]

In [17]:
df_cs.to_json("../data/udacity_nanodegree/charging_stations.json")

In [18]:
df_cp.to_json("../data/udacity_nanodegree/charging_points.json")

In [19]:
df_conn.to_json("../data/udacity_nanodegree/connectors.json")

In [10]:
for t in dict_master_data: 
    print(t)
    print(dict_master_data[t].shape)

charging_stations
(1155, 17)
charging_points
(2414, 16)
connectors
(2796, 11)

# Master data

In [12]:
import tqdm

In [13]:
from prep_extracts import extract_status

status_cp = []

for f in tqdm.tqdm(scraped_files, total=len(scraped_files)): 
    df_status_cp = extract_status(f)
    
    status_cp.append(df_status_cp)

100%|████████████████████████████████████████████████████████████████████████████| 10592/10592 [43:12<00:00,  4.09it/s]

In [17]:
df_status_cps = pd.concat(status_cp)

In [21]:
df_status_cps.shape[0] * 10**-6

23.937549999999998

NameError: name 'df_status_cp' is not defined

In [57]:
df_status.sample(10_000).to_csv("../data/udacity_nanodegree/status_cp_sample.csv", sep=";")

In [48]:
from prep_extracts import extract_status

status_conn = []

for f in tqdm.tqdm(scraped_files, total=len(scraped_files)): 
    df_status_conn = extract_status(f, return_status_conn=True)
    
    status_conn.append(df_status_conn)

100%|████████████████████████████████████████████████████████████████████████████| 10592/10592 [49:39<00:00,  3.56it/s]

In [49]:
df_status_conns = pd.concat(status_conn)

In [53]:
df_status_conns.sample(10_000).to_csv("../data/udacity_nanodegree/status_conn_sample.csv", sep=";")

## Data model

## Staging

### Status charging points

In [25]:
df_status_cp.head()

                  id     status                  timestamp
0  DE*REK*E00025*001  AVAILABLE  2021-09-28 09:13:53+02:00
1  DE*REK*E00025*002  AVAILABLE  2021-09-28 09:13:53+02:00
2  DE*REK*E00095*001   CHARGING  2021-09-28 09:13:53+02:00
3  DE*REK*E00095*002   CHARGING  2021-09-28 09:13:53+02:00
4  DE*REK*E00103*003  AVAILABLE  2021-09-28 09:13:53+02:00

In [35]:
df_status.columns

Index(['id', 'status', 'timestamp'], dtype='object')

### Status connectors

In [51]:
df_status_conns.head()

      status   id                  timestamp
0  AVAILABLE  447  2021-09-28 09:13:53+02:00
1  AVAILABLE  448  2021-09-28 09:13:53+02:00
2   CHARGING  494  2021-09-28 09:13:53+02:00
3   CHARGING  495  2021-09-28 09:13:53+02:00
4  AVAILABLE  425  2021-09-28 09:13:53+02:00

In [52]:
df_staus_conns.columns

NameError: name 'df_staus_conns' is not defined

### Charging stations

In [36]:
df_cs.columns

Index(['id', 'name', 'address', 'city', 'postal_code', 'country', 'directions',
       'distance_in_m', 'owner', 'roaming', 'evses', 'latitude', 'longitude',
       'operator_name', 'operator_hotline', 'open_24_7',
       'opening_times_expanded'],
      dtype='object')

In [37]:
df_cs.head()

,id,name,address,city,postal_code,country,directions,distance_in_m,owner,roaming,evses,latitude,longitude,operator_name,operator_hotline,open_24_7,opening_times_expanded
0,2,TankE - ADAC Köln Kalk,Erna-Scheffler-Straße 5,Köln,50679,DE,"Zufahrt kann nur über die ""Straße des 17. Juni...",0,None,False,"[{'uid': '303', 'id': 'DE*REK*E00025*001', 'st...",50.940991,6.992267,RheinEnergie AG,+4922134645600,False,"[{'weekday': 1, 'period_begin': '07:00:00', 'p..."
1,3,TankE - Agrippabad,Agrippastraße 45,Köln,50676,DE,,0,KölnBäder GmbH,False,"[{'uid': '349', 'id': 'DE*REK*E00095*001', 'st...",50.933123,6.952300,RheinEnergie AG,+4922134645600,True,-
2,7,TankE - Auto Laukat,Siegburgerstraße 232-238,Köln,51105,DE,,0,None,False,"[{'uid': '289', 'id': 'DE*REK*E00103*003', 'st...",50.920410,6.984919,RheinEnergie AG,+4922134645600,True,-
3,13,TankE - AXA,Colonia-Allee 10-20,Köln,51067,DE,Der Standort befindet sich an der Zufahrt zum ...,0,None,False,"[{'uid': '128', 'id': 'DE*REK*E00066*001', 'st...",50.963563,7.051716,RheinEnergie AG,+4922134645600,True,-
4,20,TankE - Bornheim,Rathausstraße 2,Bornheim,53332,DE,"Ecke ""Alter Weiher""",0,None,False,"[{'uid': '102', 'id': 'DE*REK*E00052*001', 'st...",50.757272,7.004436,RheinEnergie AG,+4922134645600,True,-

### Charging points

In [39]:
df_cp.head()

,id_cs,dict_info,chargePointPublicComment,chargePointParkingSpaceNumbers,uid,chargePointPosition,physical_reference,floor_level,chargingStationPosition,id,parkingsensor_status,connectors,capabilities,roaming,status,vehicle_type
0,2,"{'uid': '303', 'id': 'DE*REK*E00025*001', 'sta...",None,None,303,rechts,25R,,None,DE*REK*E00025*001,-,"[{'id': '447', 'status': 'CHARGING', 'standard...","[RFID_READER, REMOTE_START_STOP_CAPABLE]",False,CHARGING,four_wheeled
1,2,"{'uid': '304', 'id': 'DE*REK*E00025*002', 'sta...",None,None,304,links,25L,,None,DE*REK*E00025*002,-,"[{'id': '448', 'status': 'CHARGING', 'standard...","[RFID_READER, REMOTE_START_STOP_CAPABLE]",False,CHARGING,four_wheeled
2,3,"{'uid': '349', 'id': 'DE*REK*E00095*001', 'sta...",None,None,349,rechts,95R,,None,DE*REK*E00095*001,-,"[{'id': '494', 'status': 'CHARGING', 'standard...","[RFID_READER, REMOTE_START_STOP_CAPABLE]",False,CHARGING,four_wheeled
3,3,"{'uid': '350', 'id': 'DE*REK*E00095*002', 'sta...",None,None,350,links,95L,,None,DE*REK*E00095*002,-,"[{'id': '495', 'status': 'AVAILABLE', 'standar...","[RFID_READER, REMOTE_START_STOP_CAPABLE]",False,AVAILABLE,four_wheeled
4,7,"{'uid': '289', 'id': 'DE*REK*E00103*003', 'sta...",None,None,289,rechte Station,103R,,Wandladestation rechts,DE*REK*E00103*003,-,"[{'id': '425', 'status': 'CHARGING', 'standard...","[RFID_READER, REMOTE_START_STOP_CAPABLE]",False,CHARGING,four_wheeled

In [40]:
df_cp.columns

Index(['id_cs', 'dict_info', 'chargePointPublicComment',
       'chargePointParkingSpaceNumbers', 'uid', 'chargePointPosition',
       'physical_reference', 'floor_level', 'chargingStationPosition', 'id',
       'parkingsensor_status', 'connectors', 'capabilities', 'roaming',
       'status', 'vehicle_type'],
      dtype='object')

### Connectors

In [29]:
df_conn.head()

,id_cp,dict_info,ampere,tariff_id,max_power,voltage,power_type,format,status,id,standard
0,DE*REK*E00025*001,"{'id': '447', 'status': 'CHARGING', 'standard'...",32,None,22,400,AC_3_PHASE,SOCKET,CHARGING,447,IEC_62196_T2
1,DE*REK*E00025*002,"{'id': '448', 'status': 'CHARGING', 'standard'...",32,None,22,400,AC_3_PHASE,SOCKET,CHARGING,448,IEC_62196_T2
2,DE*REK*E00095*001,"{'id': '494', 'status': 'CHARGING', 'standard'...",32,None,22,400,AC_3_PHASE,SOCKET,CHARGING,494,IEC_62196_T2
3,DE*REK*E00095*002,"{'id': '495', 'status': 'AVAILABLE', 'standard...",32,None,22,400,AC_3_PHASE,SOCKET,AVAILABLE,495,IEC_62196_T2
4,DE*REK*E00103*003,"{'id': '425', 'status': 'CHARGING', 'standard'...",32,None,22,400,AC_3_PHASE,SOCKET,CHARGING,425,IEC_62196_T2

In [41]:
df_conn.columns

Index(['id_cp', 'dict_info', 'ampere', 'tariff_id', 'max_power', 'voltage',
       'power_type', 'format', 'status', 'id', 'standard'],
      dtype='object')

## Fact tables

In [ ]:
status_connections

status_chargingpoints

In [ ]:
charging_stations 

address


operators


charging_points 


connectors